@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    --background: 40.9 84.6% 94.9%;   /* Fond #FDF6E7 */
    --foreground: 2.6 46.9% 9.6%;     /* Texte #240E0D */
    --card: 0 0% 100%;                /* Blanc #FFFFFF */
    --card-foreground: 2.6 46.9% 9.6%;
    --popover: 0 0% 100%;
    --popover-foreground: 2.6 46.9% 9.6%;
    --primary: 10.3 66.2% 53.5%;      /* Main #D7553A */
    --primary-foreground: 0 0% 100%;   /* Blanc #FFFFFF */
    --secondary: 8.4 80.6% 36.5%;     /* Main dark #A82712 */
    --secondary-foreground: 0 0% 100%;
    --muted: 40.9 84.6% 94.9%;        /* Fond #FDF6E7 */
    --muted-foreground: 2.6 46.9% 9.6%;
    --accent: 10.3 66.2% 53.5%;       /* Main #D7553A */
    --accent-foreground: 0 0% 100%;
    --destructive: 8.4 80.6% 36.5%;   /* Main dark #A82712 */
    --destructive-foreground: 0 0% 100%;
    --border: 2.6 46.9% 9.6%;         /* Texte #240E0D */
    --input: 2.6 46.9% 9.6%;
    --ring: 10.3 66.2% 53.5%;         /* Main #D7553A */
    --radius: 0.5rem
  }

  .dark {
    --background: 40.9 84.6% 94.9%;
    --foreground: 2.6 46.9% 9.6%;
    --card: 0 0% 100%;
    --card-foreground: 2.6 46.9% 9.6%;
    --popover: 0 0% 100%;
    --popover-foreground: 2.6 46.9% 9.6%;
    --primary: 10.3 66.2% 53.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 8.4 80.6% 36.5%;
    --secondary-foreground: 0 0% 100%;
    --muted: 40.9 84.6% 94.9%;
    --muted-foreground: 2.6 46.9% 9.6%;
    --accent: 10.3 66.2% 53.5%;
    --accent-foreground: 0 0% 100%;
    --destructive: 8.4 80.6% 36.5%;
    --destructive-foreground: 0 0% 100%;
    --border: 2.6 46.9% 9.6%;
    --input: 2.6 46.9% 9.6%;
    --ring: 10.3 66.2% 53.5%;
  }
}